.banner {
    background-image: url('../../../images/foodbanner.jpg');
    width: 102%;
    height: 200px;
    padding: 0%;
    margin-top: -5%;
    margin-left: -1%;
    margin-right: -1%;
    opacity:1;
    text-align: center;
}
.title{
    opacity:1;
    padding-top:5.5%;
    color:rgb(255, 255, 255);
    font-weight: bold;
    font-size: 45px;
    font-family:Pacifico;
    text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
}
@media(min-width:400px){
    .banner {       
        height: 250px;      
    }
}
@media(min-width:950px){
    .title {       
        font-size: 65px;      
    }
}
